@page
@model ProductManagement.Pages.Index1Model
@{
    ViewData["Title"] = "Product Management API Documentation";
}

<h1>@ViewData["Title"]</h1>

<p class="title"></p>

<!-- The JavaScript will populate content here automatically -->
@section Scripts {
    <script src="~/js/readAndDisplay.js"></script>
}


